 .u-section-1 {
  background-image: url("images/hrz-2.jpg");
  background-position: 50% 28.39%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0px;
  line-height: 1;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 340px 345px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-right: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 210px;
    margin-right: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 160px;
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 97px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 683px;
}

.u-section-2 .u-group-1 {
  min-height: 532px;
  height: auto;
  --radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  animation-timing-function: linear;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 56px 602px 0 60px;
}

.u-section-2 .u-image-1 {
  width: 636px;
  height: 473px;
  --top-right-radius: 10px;
  --bottom-right-radius: 10px;
  animation-timing-function: ease;
  margin: -79px -34px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5625rem;
  font-family: "Dancing Script";
  font-weight: 700;
  margin: -354px 611px 0 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 35px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 462px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    --radius: 10px;
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 462px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 50px;
    min-height: 829px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    width: 478px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 478px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 402px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 16px;
    margin-left: 24px;
  }

  .u-section-2 .u-image-1 {
    height: 226px;
    width: 304px;
    margin-top: 188px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -382px;
    margin-right: 18px;
    margin-left: 22px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 611px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 70.39% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 40.97% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-back-image-9 {
  object-position: 17.4% 23.21%;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-back-image-10 {
  object-position: 17.4% 18.75%;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-back-image-11 {
  object-position: 17.4% 35.12%;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-back-image-12 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-back-image-13 {
  object-position: 17.4% 2.38%;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-14 {
  margin-right: 0;
}

.u-section-3 .u-back-image-14 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-15 {
  margin-right: 0;
}

.u-section-3 .u-back-image-15 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-16 {
  margin-right: 0;
}

.u-section-3 .u-back-image-16 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-17 {
  margin-right: 0;
}

.u-section-3 .u-back-image-17 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-18 {
  margin-right: 0;
}

.u-section-3 .u-back-image-18 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-19 {
  margin-right: 0;
}

.u-section-3 .u-back-image-19 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-20 {
  margin-right: 0;
}

.u-section-3 .u-back-image-20 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-21 {
  margin-right: 0;
}

.u-section-3 .u-back-image-21 {
  object-position: 17.4% 50%;
}

.u-section-3 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #ffd700, #101010);
  --radius: 20px;
  padding: 8px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #ffd700, #101010);
  --radius: 20px;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-3 .u-gallery-1 {
    width: 398px;
    margin-top: 29px;
    margin-left: -29px;
    margin-right: -29px;
  }
} .u-section-4 {
  min-height: 673px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 673px;
}

.u-section-4 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-4 .u-shape-1 {
  width: 577px;
  height: 577px;
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0 57px;
}

.u-section-4 .u-image-1 {
  width: 672px;
  height: 577px;
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -587px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 673px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-4 .u-image-2 {
  width: 101px;
  height: 101px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 134px auto 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.375rem;
  font-weight: 700;
  font-family: "Archivo Black";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px 24px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 894px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-size: cover;
    min-height: 555px;
  }

  .u-section-4 .u-shape-1 {
    width: 564px;
    height: 564px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    width: 564px;
    height: 485px;
    margin-top: -574px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 425px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -114px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 367px;
    height: 367px;
    margin-top: 26px;
    margin-left: 31px;
  }

  .u-section-4 .u-image-1 {
    width: 432px;
    height: 371px;
    margin-top: -381px;
    margin-right: 22px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 31px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1798px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
    margin-top: -380px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 744px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -51px;
    margin-bottom: -468px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-4 .u-shape-1 {
    width: 302px;
    height: 302px;
    margin-top: 75px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-1 {
    width: 379px;
    height: 352px;
    margin-top: -360px;
    margin-right: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 37px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
  }
}.u-block-a01d-2 {
  position: absolute;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 489px);
  bottom: 28px;
}

.u-block-a01d-3 {
  position: absolute;
  left: 0;
}

.u-block-a01d-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-a01d-2 {
    right: calc(((100% - 940px) / 2)  + 389px);
  }
}

@media (max-width: 991px) {
  .u-block-a01d-2 {
    right: calc(((100% - 720px) / 2)  + 279px);
  }
}

@media (max-width: 767px) {
  .u-block-a01d-2 {
    right: calc(((100% - 540px) / 2)  + 189px);
  }
}

@media (max-width: 575px) {
  .u-block-a01d-2 {
    right: calc(((100% - 340px) / 2)  + 89px);
  }
}

 .u-section-5-1 {
  background-image: none;
  min-height: 1082px;
}

.u-section-5-1 .u-image-1 {
  min-height: 862px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/_MG_4194.jpg');
  background-position: 50% 50%;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 145px 100px;
}

.u-section-5-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  font-size: 5rem;
  font-weight: 700;
  width: 897px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 304px auto 0;
}

.u-section-5-1 .u-list-1 {
  width: 1141px;
  margin: -89px auto 60px;
}

.u-section-5-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 14.25px);
  grid-template-columns: repeat(4, calc(25% - 14.25px));
  min-height: 208px;
  grid-gap: 19px;
}

.u-section-5-1 .u-list-item-1 {
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5-1 .u-icon-1 {
  height: 63px;
  width: 63px;
  margin: 9px auto 0;
}

.u-section-5-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 0 0;
}

.u-section-5-1 .u-list-item-2 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5-1 .u-icon-2 {
  height: 63px;
  width: 63px;
  margin: 9px auto 0;
}

.u-section-5-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 0 0;
}

.u-section-5-1 .u-list-item-3 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5-1 .u-icon-3 {
  height: 63px;
  width: 63px;
  margin: 9px auto 0;
}

.u-section-5-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 0 0;
}

.u-section-5-1 .u-list-item-4 {
  background-size: auto;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5-1 .u-container-layout-5 {
  padding: 30px 30px 16px;
}

.u-section-5-1 .u-icon-4 {
  height: 63px;
  width: 63px;
  margin: 9px auto 0;
}

.u-section-5-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-image-1 {
    height: auto;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 200px;
  }

  .u-section-5-1 .u-text-1 {
    width: 740px;
    font-size: 3.75rem;
  }

  .u-section-5-1 .u-list-1 {
    width: 940px;
    margin-top: -83px;
    margin-bottom: 59px;
  }

  .u-section-5-1 .u-repeater-1 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
   .u-section-5-1 {
    min-height: 1408px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-5-1 .u-text-1 {
    width: auto;
    margin-top: 491px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5-1 .u-list-1 {
    width: 720px;
    margin-top: -133px;
    margin-bottom: 60px;
  }

  .u-section-5-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.5px);
    grid-template-columns: repeat(2, calc(50% - 9.5px));
    min-height: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-image-1 {
    background-position: 38.86% 50%;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 230px;
  }

  .u-section-5-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-5-1 .u-list-1 {
    width: 540px;
  }

  .u-section-5-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-5-1 {
    min-height: 1782px;
  }

  .u-section-5-1 .u-image-1 {
    background-position: 38.86% 50%, 53.44% 50%;
    background-size: cover, cover;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 451px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5-1 .u-list-1 {
    width: 340px;
    margin-top: -131px;
    margin-bottom: 59px;
  }

  .u-section-5-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 992px;
  }
}html {
  scroll-behavior: smooth;
} 